$primary-color: #fff;

body {
  background: $primary-color;
}
.shop{
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    background: #ffffff;
    margin-top: 0;
h1{
    font-size: 4rem;
    letter-spacing: 4px;
    margin-bottom: 10px;
    height:max-content;
    line-height: 2rem;
    letter-spacing: -1px;
}
p{
    font-size: 1.2 rem;
    margin-bottom: 20px;
    color: #000000;
    line-height: 2rem;
}
button:hover{
    background: #333;
   }
.categories{
    display: flex;
    justify-content: center;
    gap: 170px;
}
.category{
    padding: 0;
    font-size: 15px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    outline: none;
    background: none;
    margin: 0;
}
.category:hover{
    text-decoration: underline;
    background: none;
    outline: none;
}
.search-container{
    position: absolute;
    top: 65px;
    right: 200px;
    display: flex;
    gap: 5px;
}
.Search-input{
    padding: 2px 6px;
    font-size: -10rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}
.search-button{
    padding: 1px 2px;
    font-size: -40rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.list{
    position: absolute;
    top: 65px;
    right: 35px;
    display: flex;
    gap: 25px;
}
.wishlistbag{
    padding: 0;
    font-size: 15px;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    background: none;
}
.wishlistbag:hover{
    text-decoration: underline;
    outline: none;
    background: none;
}
.Gender{
    position: absolute;
    top: 65px;
    left: 100px;
    display: flex;
    gap: 25px;
}
.gender{
    padding:0;
    font-size: 15px;
    background: none;
    outline: none;
    margin: 0;
    border: none;
}
.gender:hover{
    text-decoration: underline;
    background: none;
    outline: none;
}
.gender-active{
    text-decoration: underline;
    border: none;
    margin: 0;
    background: none;
    outline: none;
    padding: 0;
    font-size: 15px;
}
.gender-active:hover{
    background: none;
}
.gender-acitive::after:hover{
    text-decoration: none;
}
.click-img{
    width: 700px;
    height: auto;
    margin: 0;
    display: block;
}
.img-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
}
} 
